.about {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
  @include flexCenter(column);

  &-text {
    text-align: center;
    background: 
      linear-gradient(
        to left,
        rgba($secondary-color, .5),
        rgba($secondary-color, .1)
        );
    padding: 2rem;

    ul {    
      padding: 1rem;
      margin-top: 1rem;
    
      .text-secondary {
        padding-top: 1rem;
      }

      li {      
      list-style: none;     
      }
    }
  }
  
}