$primary-color: #1a1a1a;
$secondary-color:#319b39;; 
$light-color: #fff;


$color1: #000000;
$color2: #1a1a1a;
$color3: #1a4c1d;
$color4: #26732b;
$color5: #319b39;


$color1: #000000;
$color2: #1a1a1a;
$color3: #4c1a1a;
$color4: #732626;
$color5: #9b3132;

$primary-color: #19120f;
$secondary-color: #e5a38e;
$light-color: #fff;