/* 
$primary-color: #1a1a1a;
$secondary-color:#319b39;; 
$light-color: #fff;

$primary-color: #19120f;
$secondary-color: #e5a38e;
$light-color: #fff;
*/

$primary-color: #292220;
$secondary-color: #9e0d0d;
$light-color: #fff;