@import "reset";
@import "variables";
@import "mixins";
@import "responsive";
@import "menu";
@import "home";
@import "gallery";
@import "about";
@import "reservation";
@import "contact";


body {
  background: $primary-color;
  color: $light-color;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;
}

h1, h2, h3 {
  font-weight: 400;
  margin-top: 1.5rem;
}

a {
  color: $light-color;
  text-decoration: none;
}

 a:focus {
  outline: thin dotted; 
}

.text-secondary {
  color: $secondary-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%; 
  padding: 5rem 0;
}

footer {
  font-size: 1rem;
  position: bottom;
  bottom: .4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: $light-color;
}



